
body{
    margin: 0px;
    display: flex;
    flex-direction: column; 
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    background-color: rgba(24, 23, 47, 0.982);
    color: rgb(164, 164, 164);
}
header{
    display: block;
    position: relative;
    width: 100%;    
}


.header{
    display: flex;
    /* flex-direction: row; */ /* por ahora no lo necesito */
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(63, 65, 64, 0.233); */
    width: 100vw;
    min-width: 200px;   
    height: 100px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header .logo{
    display: flex;
    flex-shrink: 0;
    margin: 0 10px;
    min-width: 300px;
    /* border: 1px solid red; */
}

.header .logo img{
    width: 80px;
    height: 80px;
    border-radius: 90px;
    margin: 0 20px;
}

.header .logo h1{
    /* padding-top: 10px; */
    align-items: center;
    text-decoration: underline;
}
.header .search{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-width: 200px;
    /* border: 1px solid red; */
}

.header .search input{
    text-align: center;
    min-width:30%;
    height: 30px;
    font-size: 1.2em;
    color: rgb(164, 164, 164);
    padding: 5px 15px;
    background-color: rgba(24, 23, 47, 0.982);
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: none;  

}

.header .nav{
    display: flex; 
    position: relative;
    justify-content: end;
    min-width: 300px;
    /* border: 1px solid red; */
    margin-right: 50px;
    padding: 10px;
}

.header .nav .navLinks a{
    margin: 0px 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(164, 164, 164);
    transition: transform 0.3s ease,text-decoration 0.3s ease;
    display: inline-block; 

}

header .nav .navLinks a:hover{
    box-sizing: border-box;
    color: rgb(233, 227, 227);
    transform: scale(1.1);

}

/* .btn{
    display: block;
    position: absolute;
    left: 90px;
    top: 42px;
} */

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* flex-shrink: 1; */
    margin: 75px;
    min-width: 900px;
    max-width: 60vw;
    border: 1px solid slateblue;
    padding-bottom: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container h1{
    text-align: center;
    width: 90%;
    font-size: 3em;
}

.container .items{
    width: 40%;
    /* height: 150px; */
    margin: 25px;
    text-align: center;
    padding: 15px;
    
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid slateblue;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container .items img{
    max-width: 75%;
    max-height: 75%;
    border-radius: 10px;
    margin-bottom: 10px;

}

/* .container .items:last-child{
    margin-bottom: 0;
} */

.container .items p,
.container .items a {
    font-size: 1.2rem;
    font-weight: 500;
}


